.button {
    max-width: max-content;
    
    display: block;
    margin-left: auto;
    margin-right: auto;

    font-style: italic;
    text-align: center;
    letter-spacing: -0.055em;
    
    color: #FFFFFF;
    background-color: #D59D40;

    box-shadow: (-10px 0px 16px rgba(0, 0, 0, 0.2));
    border-radius: 5px;

    @media screen and (max-width: 767px) {
        padding: 3px 29px;

        font-size: 15px;
        line-height: 19px;
    }

    @media screen and (min-width: 768px) {
        padding: 3px 43px;
        
        font-size: 35px;
        line-height: 45px;
    }

    &:hover,
    &:focus {
        cursor: pointer;
        color: #464646;
        background: #FBF5EC;
    }
}