footer {
    margin-top: 27px;
    padding: 29px;
    background: #F9F4EC;

    p {
        display: block;
        margin-left: auto;
        margin-right: auto;
        text-align: center;

        font-style: italic;
        
        color: #BEBEBE;

        @media screen and (max-width: 767px) {
            width: 191px;
            font-size: 8px;
            line-height: 10px;
        }

        @media screen and (min-width: 768px) {
            width: 522px;
            font-size: 21px;
            line-height: 27px;
            letter-spacing: 0.015em;
        }
    }
}