footer {
    margin-top: 27px;
    padding: 29px;
    background: #F9F4EC;

    p {
        width: 191px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        text-align: center;

        font-style: italic;
        font-size: 8px;
        line-height: 10px;
        text-align: center;
        
        color: #BEBEBE;
    }
}