header {
    .menu-toggle {
        z-index: 100;

        position: absolute;
        top: 11px;
        right: 14px;
        border: 0;
        padding: 0;
        background: rgba(213, 157, 64, 0);

        &:hover .menu-icon {
            cursor: pointer;
        }
    }

    .menu-icon {
        width: 29px;
        height: 7px;
    }

    .menu {
        @media screen and (max-width: 1199px) {
            display: none;
        }

        @media screen and (min-width: 1200px) {
            display: flex;
            justify-content: space-around;

            ul {
                display: flex;

                li+li {
                    margin-left: 30px;
                }
            }
        }
    }

    .menu-item {
        letter-spacing: 0.055em;

        @media screen and (max-width: 1199px) {
            font-size: 25px;
            line-height: 32px;
            
            color: #0D0A09;
        }

        @media screen and (min-width: 1200px) {
            font-size: 20px;
            line-height: 26px;

            color: #0D0A09;
        }
    }

    .use {
        color: rgba(213, 157, 64, 1);
    }
}