header {
    .menu-toggle {
        z-index: 100;
        
        position: absolute;
        top: 11px;
        right: 14px;
        border: 0;
        padding: 0;
        background: rgba(213, 157, 64, 0);

        &:hover .menu-icon {
            cursor: pointer;
        }
    }

    .menu-icon {
        width: 29px;
        height: 7px;
    }

    .menu {
        @media screen and (max-width: 1024px) {
            display: none;
        }
    }

    .menu-item {
        font-size: 25px;
        line-height: 32px;
        letter-spacing: 0.055em;
        
        color: #0D0A09;
    }
}