.create {
    margin-top: 200px;

    .create-content {
        margin-left: 35px;
        margin-right: 36px;

        &-photo {
            margin-top: 51px;
        }

        &-video {
            margin-top: 21px;
        }

        &-guests {
            margin-top: 29px;
        }
    }

    h2 {
        position: relative;

        text-align: center;

        font-style: normal;
        font-size: 65px;
        line-height: 84px;
        /* identical to box height */
        
        letter-spacing: -0.045em;
        
        color: #464646;
    }

    h3 {
        text-align: center;
        margin-top: -20px;

        font-style: normal;
        font-size: 16px;
        line-height: 21px;
        /* identical to box height */
        
        letter-spacing: -0.02em;
        
        color: #D59D40;
    }

    h4 {
        font-style: italic;
        font-size: 25px;
        line-height: 32px;
        letter-spacing: -0.08em;
        
        color: #464646;
    }

    h5 {
        font-family: 'Antic Didone';
        font-size: 15px;
        line-height: 113.6%;
        /* identical to box height, or 17px */
        
        color: #464646;
    }

    .h5-show {
        color: #D59D40;
    }

    .create-description {
        @media screen and (max-width: 767px) {
            display: none;
        }

        &-show {
            margin-top: 4.51px;

            font-style: italic;
            font-size: 14px;
            line-height: 91.6%;

            @media screen and (min-width: 375px) {
                width: 236px;
            }
        }
    } 
    
    .create-price {
        // text-align: left;

        font-style: italic;
        font-size: 23px;
        line-height: 113.6%;
        /* or 26px */
        
        color: #464646;
    }

    .create-item {
        display: flex;
        justify-content: space-between;
        align-items: center;

        margin-top: 25px;
    }

    .create-item-show {
        margin-left: -16px;
        margin-right: -36px;
        padding-left: 16px;
        padding-right: 36px;
        padding-bottom: 16px;
        background: #F0F0F0;
    }

    // styles
    .creat-line {
        height: 1px;
        margin-left: 26px;
        margin-right: 26px;

        background: #D59D40;
    }

    .comma {
        position: absolute;
        top: -60%;
        left: 15%;

        font-size: 60px;
        line-height: 78px;
        /* identical to box height */
        
        letter-spacing: 0.055em;
        
        color: #D59D40;
        
        transform: rotate(-93.32deg);
    }
}