.create {
    @media screen and (max-width: 767px) {
        margin-top: 200px;
    }

    @media screen and (min-width: 768px) {
        margin-top: 150px;
    }

    @media screen and (min-width: 1200px) {
        margin-top: 207px;
    }

    .create-content {
        @media screen and (max-width: 767px) {
            margin-left: 35px;
            margin-right: 36px;
        }
        
        @media screen and (min-width: 768px) and (max-width: 1199px) {
            margin-left: 82px;
            margin-right: 56px;
        }
        
        &-photo {
            margin-top: 51px;

            @media screen and (min-width: 1200px) {
                width: 550px;
                margin-top: 0;
                padding-left: 30px;
                border-left: 2.4px solid #D59D40;

                p {
                    width: 250px;
                }

                .create-price {
                    margin-left: 100px;
                }
            }
        }
        
        &-video {
            margin-top: 21px;

            @media screen and (min-width: 1200px) {
                margin-top: 0;
                width: 550px;

                p {
                    width: 315px;
                }

                .create-price {
                    margin-left: 100px;
                }
            }
        }
        
        &-guests {
            margin-top: 29px;

            @media screen and (min-width: 1200px) {
                width: 860px;

                margin-top: 50px;
                margin-bottom: 90px;
                margin-left: auto;
                padding-left: 58px;
                padding-right: 140px;
                padding-top: 8px;
                padding-bottom: 55px;

                background: #F0F0F0;

                p {
                    width: 450px;
                }

                .create-price {
                    margin-left: 100px;
                }
            }
        }
    }

    h2 {
        position: relative;

        text-align: center;
        
        color: #464646;

        @media screen and (max-width: 767px) {
            font-size: 65px;
            line-height: 84px;
            /* identical to box height */
            
            letter-spacing: -0.045em;
        }

        @media screen and (min-width: 768px) {
            font-size: 80px;
            line-height: 103px;
        }

        @media screen and (min-width: 1200px) {
            font-size: 170px;
            line-height: 220px;
            letter-spacing: -0.05em;
        }
    }

    h3 {
        text-align: center;
        margin-top: -20px;
        
        color: #D59D40;

        @media screen and (max-width: 767px) {
            font-size: 16px;
            line-height: 21px;
            /* identical to box height */
            
            letter-spacing: -0.02em;
        }

        @media screen and (min-width: 768px) {
            font-size: 20px;
            line-height: 26px;
            /* identical to box height */
        }

        @media screen and (min-width: 1200px) {
            font-style: italic;
            font-size: 41px;
            line-height: 53px;
            letter-spacing: -0.025em;
        }
    }

    h4 {
        font-style: italic;

        @media screen and (max-width: 767px) {
            font-size: 25px;
            line-height: 32px;
            letter-spacing: -0.08em;
            
            color: #464646;
        }

        @media screen and (min-width: 768px) {
            font-size: 26px;
            line-height: 111.6%;
            /* identical to box height, or 29px */
        }

        @media screen and (min-width: 1200px) {
            font-size: 41px;
            line-height: 53px;
            letter-spacing: -0.025em;
        }
    }

    h5 {
        font-family: 'Antic Didone';
        line-height: 113.6%;
        
        color: #464646;

        @media screen and (max-width: 767px) {
            font-size: 15px;
            /* identical to box height, or 17px */
        }

        @media screen and (min-width: 768px) {
            font-size: 22px;
            /* identical to box height, or 25px */
            
            letter-spacing: 0.025em;
        }

        @media screen and (min-width: 1200px) {
            font-size: 22px;
            line-height: 113.6%;
            /* identical to box height, or 25px */
            
            letter-spacing: 0.025em;
        }
    }

    p {
        @media screen and (min-width: 1200px) {
            margin-top: 10px;

            font-style: italic;
            font-size: 20px;
            line-height: 113.6%;
            /* or 23px */
            
            letter-spacing: 0.055em;
        }
    }

    .h5-show {
        @media screen and (max-width: 1199px) {
            color: #D59D40;
        }
    }

    .create-description {
        @media screen and (max-width: 1199px) {
            display: none;
        }

        &-show {
            font-style: italic;
            
            @media screen and (min-width: 375px) and (max-width: 767px) {
                width: 236px;
            }

            @media screen and (max-width: 767px) {
                margin-top: 4.51px;

                font-size: 14px;
                line-height: 91.6%;
            }

            @media screen and (min-width: 768px) and (max-width: 1199px) {
                width: 352px;
                margin-top: 4.51px;

                font-size: 22px;
                line-height: 110%;
                /* or 24px */
            }
        }
    } 
    
    .create-price {
        font-style: italic;
        
        color: #464646;

        @media screen and (max-width: 767px) {
            font-size: 23px;
            line-height: 113.6%;
            /* or 26px */
        }

        @media screen and (min-width: 768px) {
            font-size: 41px;
            line-height: 53px;
            letter-spacing: -0.025em;
        }

        @media screen and (min-width: 1200px) {
            font-size: 41px;
            line-height: 53px;
        }
    }

    .create-item {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media screen and (max-width: 767px) {
            margin-top: 25px;
        }

        @media screen and (min-width: 768px) {
            margin-top: 40px;
        }
    }

    @media screen and (max-width: 1199px) {
        .create-item-show {
            margin-left: -16px;
            padding-left: 16px;
            padding-bottom: 16px;
            background: #F0F0F0;
            
            @media screen and (max-width: 767px) {
                margin-right: -36px;
                padding-right: 36px;
            }
            
            @media screen and (min-width: 768px) {
                margin-right: -56px;
                padding-right: 56px;
            }
        }
    }

    // styles
    .creat-line {
        background: #D59D40;

        @media screen and (max-width: 767px) {
            height: 1px;
            margin-left: 26px;
            margin-right: 26px;
        }

        @media screen and (min-width: 768px) and (max-width: 1199px) {
            height: 2px;
            margin-left: 100px;
            margin-right: 100px;
        }
    }

    .create-div {
        @media screen and (min-width: 1200px) {
            display: flex;
            justify-content: center;
            margin-top: 84px;
        }
    }

    .comma {
        position: absolute;
        
        letter-spacing: 0.055em;
        
        color: #D59D40;
        
        transform: rotate(-93.32deg);

        @media screen and (max-width: 767px) {
            top: -60%;
            left: 15%;

            font-size: 60px;
            line-height: 78px;
            /* identical to box height */
        }

        @media screen and (min-width: 768px) {
            top: -45%;
            left: 27%;

            font-size: 60px;
            line-height: 78px;
            /* identical to box height */
        }

        @media screen and (min-width: 1200px) {
            top: -60%;
            left: 20%;

            font-size: 180px;
            line-height: 233px;
        }
    }
}

