h1  {
    display: none;
}

.ofers {
    .picture {
        @media screen and (max-width: 767px) {
            height: 249px;
        
            background-image: linear-gradient(to right,
                    rgba(47, 48, 58, 0),
                    rgba(47, 48, 58, 0)),
                    url(../images/packages/MAIN_PICTURE.jpg);
        
                @media (min-device-pixel-ratio: 2),
                (-webkit-min-device-pixel-ratio: 2),
                (min-resolution: 192dpi),
                (min-resolution: 2dppx) {
                    background-image: url(../images/packages/MAIN_PICTURE@2x.jpg);
                }
            }

        @media screen and (min-width: 768px) {
            height: 520px;
        
            background-image: linear-gradient(to right,
                    rgba(47, 48, 58, 0),
                    rgba(47, 48, 58, 0)),
                    url(../images/packages/MAIN_PICTURE-tab.jpg);
        
                @media (min-device-pixel-ratio: 2),
                (-webkit-min-device-pixel-ratio: 2),
                (min-resolution: 192dpi),
                (min-resolution: 2dppx) {
                    background-image: url(../images/packages/MAIN_PICTURE-tab@2x.jpg);
                }
        }

        @media screen and (min-width: 1200px) {
            display: none;
        }

        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    h2 {
        text-align: center;
        margin-top: 44px;

        @media screen and (max-width: 767px) {
            font-size: 75px;
            line-height: 97px;
            /* identical to box height */
            
            letter-spacing: -0.04em;
            
            color: #464646;
        }

        @media screen and (min-width: 768px) {
            font-size: 80px;
            line-height: 103px;
            
            color: #FFFFFF;
        }

        @media screen and (min-width: 1200px) {
            font-size: 170px;
            line-height: 220px;
            letter-spacing: -0.05em;
            
            color: #464646;
        }
    }

    .ofers-h3 {
        text-align: center;
        
        font-style: italic;
    
        color: #D59D40;

        @media screen and (max-width: 767px) {
            margin-top: -17px;
            margin-right: 50px;

            font-size: 17px;
            line-height: 22px;
            /* identical to box height */
        }

        @media screen and (min-width: 768px) {
            margin-top: -10px;
            margin-right: 70px;

            font-size: 20px;
            line-height: 26px;
            /* identical to box height */
        }

        @media screen and (min-width: 1200px) {
            font-size: 41px;
            line-height: 53px;
            letter-spacing: -0.025em;
        }
    }

    .ofer-p {
        display: block;
        margin-left: auto;
        margin-right: auto;

        @media screen and (max-width: 767px) {
            width: 183px;
            height: 85px;
            margin-top: 22px;
            
            font-size: 15px;
            line-height: 129.1%;
        }

        @media screen and (min-width: 768px) {
            width: 417px;
            margin-top: 137px;

            font-size: 26px;
            line-height: 111.6%;
            /* or 29px */
            
            text-align: center;
        }

        @media screen and (min-width: 1200px) {
            width: 876px;
            margin-top: 100px;

            font-size: 33px;
            line-height: 130.6%;
            /* or 43px */
        }
    }

    .ofers-header {
        @media screen and (min-width: 768px) and (max-width: 1199px) {
            position: relative;
        }
    }

    .ofers-position {
        @media screen and (min-width: 768px) and (max-width: 1199px) {
            position: absolute;
            bottom: 26px;
            left: 50%;

            transform: translate(-50%);
        }
    }

    // mobile
    .item-1,
    .item-2,
    .item-3 {
        @media screen and (max-width: 676px) {
            display: none;
        }
    }

    // tablet
    .item-1,
    .item-4 {
        @media screen and (min-width: 768px) and (max-width: 1199px) {
            display: none;
        }
    }

    // desktop
    .item-1 {
        padding-top: 45px;
    }

    .item-2 {
        @media screen and (min-width: 1200px) {
            height: 942.5px;
            padding-top: 45px;
            border-left: 4px solid #D59D40;
        }
    }

    .item-3 {
        @media screen and (min-width: 1200px) {
            border-left: 4px solid #D59D40;
        }
    }

    .item-4 {
        @media screen and (min-width: 1200px) {
            height: 942.5px;
            padding-top: 45px;
            border-left: 4px solid #D59D40;
        }

        .h4-mob {
            @media screen and (min-width: 1200px) {
                display: none;
            }
        }

        .h4-desk {
            span {
                font-size: 41px;
                line-height: 53px;
                letter-spacing: -0.025em;
            }

            @media screen and (max-width: 1199px) {
                display: none;
            }
        }
    }

    .prices {
        @media screen and (min-width: 768px) and (max-width: 1199px) {
            display: flex;
            justify-content: space-evenly;
            height: 865px;
            align-items: flex-end;
        }

        @media screen and (min-width: 1200px) {
            display: flex;
            margin-top: 130px;
            justify-content: space-around;
        }

    }

    h4 {
        text-align: center;
        font-style: italic;
        
        color: #464646;

        span {
            color: rgba(213, 157, 64, 1);
        }

        @media screen and (max-width: 767px) {
            font-size: 30px;
            line-height: 39px;
            letter-spacing: -0.05em;
        }

        @media screen and (min-width: 768px) {
            margin-bottom: 30px;

            font-size: 26px;
            line-height: 111.6%;
            /* identical to box height, or 29px */

            span {
                font-size: 20px;
                line-height: 26px;
                /* identical to box height */
            }
        }

        @media screen and (min-width: 1200px) {
            font-size: 36px;
            line-height: 47px;
            letter-spacing: -0.025em;
        }
    }

    .item-p {
        text-align: center;
        
        color: #464646;

        @media screen and (max-width: 767px) {
            font-size: 20px;
            line-height: 156.1%;
            /* or 31px */
        }

        @media screen and (min-width: 768px) {
            font-size: 22px;
            line-height: 159.1%;
            /* or 35px */
        }

        @media screen and (min-width: 1200px) {
            font-size: 23px;
            line-height: 167.1%;
            /* or 38px */
        }
    }

    .item-grey {
        color: #D1D1D1;
    }

    .price-off {
        position: relative;

        text-align: center;
        
        color: #BEBEBE;

        &::after {
            content: '';
            position: absolute;
            left: 50%;
            top: 50%;
            width: 161.77px;

            border: 2px solid #D59D40;
            transform: translate(-50%, -50%) matrix(0.96, -0.24, 0.29, 0.97, 0, 0);
        }

        @media screen and (max-width: 767px) {
            font-size: 38px;
            line-height: 49px;
        }

        @media screen and (min-width: 768px) {
            margin-top: 36px;

            font-size: 40px;
            line-height: 52px;
            /* identical to box height */
        }

        @media screen and (min-width: 1200px) {
            margin-top: 40px;

            font-size: 50px;
            line-height: 65px;
        }
    }

    .price-on {
        font-size: 55px;
        line-height: 71px;
        text-align: center;
        letter-spacing: -0.025em;
        
        color: #D59D40;

        span {
            color: #BEBEBE;
        }

        @media screen and (max-width: 767px) {
            font-size: 55px;
            line-height: 71px;
        }

        @media screen and (min-width: 768px) {
            margin-top: 28px;

            font-size: 60px;
            line-height: 78px;
            /* identical to box height */
        }

        @media screen and (min-width: 1200px) {
            margin-top: 8px;

            font-size: 70px;
            line-height: 91px;
            letter-spacing: -0.025em;
        }
    }

    // styles
    .creat-line-mob {
        @media screen and (max-width: 767px) {
            margin-bottom: 10px;
            margin-top: 10px;
            height: 1px;
            margin-left: 51px;
            margin-right: 51px;
            
            background: #D59D40;
        }
    }

    .div-info {
        @media screen and (min-width: 1200px) {
            display: flex;
            flex-direction: row-reverse;
        }
    }
}

.information {
    position: absolute;
    left: 0;
    top: 0;

    @media screen and (max-width: 767px) {
        width: 269.11px;
        height: 81px;

        border: 1px solid #BEBEBE;
    }

    @media screen and (min-width: 768px) {
        width: 576.07px;
        height: 177px;

        border: 2px solid #BEBEBE;
    }

    @media screen and (min-width: 1200px) {
        width: 457.17px;
        height: 170.64px;
    }
}

.info-abs {
    position: relative;

    margin-left: auto;
    margin-right: auto;

    @media screen and (max-width: 767px) {
        width: 292px;

        margin-top: 100px;
        margin-bottom: 58px;
        padding-left: 25px;
        padding-top: 23px;
    }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
        width: 641px;

        margin-top: 41px;
        margin-bottom: 94px;
        padding-left: 29px;
        padding-top: 54px;
    }

    span {
        position: absolute;
        top: 0px;
        left: 0px;
        
        text-align: center;
        letter-spacing: -0.025em;
        
        color: #BEBEBE;

        @media screen and (max-width: 767px) {
            font-size: 30px;
            line-height: 39px;
            /* identical to box height */
        }

        @media screen and (min-width: 768px) {
            font-size: 50px;
            line-height: 65px;
        }

        @media screen and (min-width: 1200px) {
            font-size: 20px;
            line-height: 26px;
        }

    }

    h3 {
        margin-bottom: 4px;
        text-align: center;
        
        font-style: italic;
        
        color: #D59D40;

        @media screen and (max-width: 767px) {
            font-size: 15px;
            line-height: 19px;
            letter-spacing: -0.015em;
        }

        @media screen and (min-width: 768px) {
            font-size: 33px;
            line-height: 43px;
            /* identical to box height */
            
            letter-spacing: 0.01em;
        }

        @media screen and (min-width: 1200px) {
            width: 418px;

            font-size: 37px;
            line-height: 48px;
            letter-spacing: 0.01em;
        }
    }
    
    p {
        font-style: italic;
        
        letter-spacing: -0.07em;
        
        color: #464646;

        @media screen and (max-width: 767px) {
            font-size: 8px;
            line-height: 113.6%;
            /* identical to box height, or 9px */
        }

        @media screen and (min-width: 768px) {
            font-size: 16px;
            line-height: 113.6%;
            /* or 18px */
        }

        @media screen and (min-width: 1200px) {
            width: 327px;

            font-size: 20px;
            line-height: 113.6%;
            /* or 23px */
        }
    }
}

.info-btn {
    width: 304px;
    height: 72px;
    margin-left: auto;
    margin-right: auto;

    p {
        font-style: italic;
        
        text-align: center;

        @media screen and (max-width: 767px) {
            margin-bottom: 25px;

            font-size: 22px;
            line-height: 109.6%;
            /* or 24px */
        }

        @media screen and (min-width: 768px) {
            margin-bottom: 52px;

            font-size: 24px;
            line-height: 107.1%;
            /* or 26px */
            
            letter-spacing: 0.06em;
        }

        @media screen and (min-width: 1200px) {
            line-height: 120.1%;
            ont-size: 35px;
            /* or 42px */
            letter-spacing: 0.02em;
        }
    }

    .button {
        @media screen and (max-width: 767px) {
            margin-bottom: 32px;
        }

        @media screen and (min-width: 768px) and (max-width: 1199px) {
            &-2 {
                margin-left: 57px;
                padding-left: 67px;
                padding-right: 67px;
            }
        }

        @media screen and (min-width: 1200px) {
            padding: 5px, 10px;
        }
    }

    div {
        @media screen and (min-width: 768px) {
            display: flex;
            justify-content: space-evenly;
        }
    }
}