.about {
    @media screen and (min-width: 1200px) {
        margin-top: 73px;
    }

    &-bg-top {
        display: block;
        margin-left: auto;

        background: #D59D40;

        @media screen and (max-width: 767px) {
            width: 270px;
            height: 1px;

            margin-bottom: 10px;
        }

        @media screen and (min-width: 768px) {
            width: 553px;
            height: 2px;

            margin-bottom: 14px;
        }

        @media screen and (min-width: 1200px) {
            width: 773.26px;
            height: 3px;

            margin-bottom: 28px;
        }
    }

    &-bg-down {
        background: #D59D40;

        @media screen and (max-width: 767px) {
            width: 270px;
            height: 1px;

            margin-top: 7px;
        }

        @media screen and (min-width: 768px) {
            width: 553px;
            height: 2px;

            margin-top: 43px;
        }

         @media screen and (min-width: 1200px) {
            width: 773.26px;
            height: 3px;

            margin-top: 33px;
        }
    }

    ul {
        display: flex;
        margin-top: 132px;
    }

    h2 {
        margin-right: 75px;

        font-style: italic;
        letter-spacing: -0.06em;
        text-transform: uppercase;
        
        color: #D59D40;

        @media screen and (max-width: 767px) {
            text-align: center;

            font-size: 35px;
            line-height: 45px;
        }

        @media screen and (min-width: 768px) {
            text-align: right;

            font-size: 60px;
            line-height: 78px;
            /* identical to box height */
        }

        @media screen and (min-width: 1200px) {
            text-align: center;

            font-size: 100px;
            line-height: 129px;
            letter-spacing: -0.06em;
            text-transform: uppercase;
        }
    }

    h3 {
        color: #464646;

        @media screen and (max-width: 767px) {
            text-align: center;
            margin-left: 70px;

            font-size: 30px;
            line-height: 39px;
            /* identical to box height */
        }

        @media screen and (min-width: 768px) {
            text-align: right;
            margin-right: 75px;

            font-size: 45px;
            line-height: 58px;
            letter-spacing: -0.015em;
        }

        @media screen and (min-width: 1200px) {
            text-align: center;
            margin-left: 400px;
            margin-top: -29px;

            font-size: 90px;
            line-height: 116px;
        }
    }

    h4 {
        letter-spacing: -0.055em;
        text-transform: uppercase;
        
        color: #464646;

        @media screen and (max-width: 767px) {
            margin-left: 70px;
            text-align: center;

            font-size: 9px;
            line-height: 110.6%;
            /* identical to box height, or 10px */
        }

        @media screen and (min-width: 768px) {
            margin-right: 58px;
            text-align: right;

            font-size: 20px;
            line-height: 110.6%;
            /* or 22px */
        }

        @media screen and (min-width: 1200px) {
            text-align: center;
            margin-top: -24px;
            margin-left: 450px;

            line-height: 126.6%;
            font-size: 28px;
            /* or 35px */
            
            letter-spacing: 0.015em;
        }
    }

    h5 {
        text-align: center;

        color: #D59D40;

        @media screen and (max-width: 767px) {
            font-size: 18px;
            line-height: 23px;
        }

        @media screen and (min-width: 768px) {
            font-size: 25px;
            line-height: 32px;
        }

        @media screen and (min-width: 1200px) {
            font-size: 32px;
            line-height: 120.4%;
            /* identical to box height, or 39px */
            
            text-transform: uppercase;
        }
    }

    p {
        display: block;
        margin-left: auto;
        margin-right: auto;

        text-align: center;     

        @media screen and (max-width: 767px) {
            width: 269px;

            font-size: 14px;
            line-height: 123.1%;
            /* or 17px */
            letter-spacing: 0.025em;
        }

        @media screen and (min-width: 768px) {
            width: 464px;

            font-size: 22px;
            line-height: 113.6%;
            /* or 25px */
        }

        @media screen and (min-width: 1200px) {
            width: 431px;

            font-size: 28px;
            line-height: 126.6%;
            /* or 35px */

            letter-spacing: 0.015em;
        }
    }

    .description1 {
        @media screen and (max-width: 767px) {
            margin-top: 7px;
            margin-bottom: 20px;
        }

        @media screen and (min-width: 768px) {
            margin-top: 33px;
            margin-bottom: 70px;
        }

        @media screen and (min-width: 1200px) {
            margin-bottom: 150px;
        }
    }

    .description2 {
        @media screen and (max-width: 767px) {
            margin-top: 6px;
            margin-bottom: 13px;
        }

        @media screen and (min-width: 768px) {
            margin-top: 24px;
            margin-bottom: 45px;
        }

        @media screen and (min-width: 1200px) {
            margin-bottom: 90px;
        }
    }

    .about-bg {
        position: relative;
        margin-left: auto;
        margin-right: auto;
        
        
        background: #F0F0F0;

        @media screen and (max-width: 767px) {
            width: 178px;
            height: 170px;

            margin-top: 26px;
            margin-bottom: 99px;
        }

        @media screen and (min-width: 768px) and (max-width: 1199px) {
            width: 291px;
            height: 271px;
            
            margin-top: 44px;
            margin-bottom: 90px;
        }

        @media screen and (min-width: 1200px) {
            width: 521.17px;
            height: 517px;

            margin-bottom: 160px;
        }
    }

    .about-item {
        position: absolute;
        
        @media screen and (max-width: 767px) {
            top: 20px;
            left: -45px;
        }

        @media screen and (min-width: 768px) {
            top: 19px;
            left: -84px;
        }

        @media screen and (min-width: 1200px) {
            left: 50%;

            transform: translate(-50%, );
        }
    }

    .about-bg2 {
        position: relative;
        margin-left: auto;
        margin-right: auto;
        background: #F0F0F0;

        @media screen and (max-width: 767px) {
            margin-bottom: 67px;
            width: 178px;
            height: 179px;
        }

        @media screen and (min-width: 768px) {
            margin-bottom: 81px;
            width: 291px;
            height: 288px;
        }

        @media screen and (min-width: 1200px) {
            width: 521.17px;
            height: 517px;

            margin-bottom: 160px;
        }
    }

    .button {
        @media screen and (min-width: 768px) and (max-width: 1199px) {
            font-size: 20px;
            line-height: 26px;
            /* identical to box height */
        }
    }
}