.about {
    &-bg-top {
        display: block;
        margin-left: auto;
        margin-bottom: 10px;
        
        width: 270px;
        height: 1px;

        background: #D59D40;
    }

    &-bg-down {
        margin-top: 7px;

        width: 270px;
        height: 1px;

        background: #D59D40;
    }

    h2 {
        margin-right: 75px;
        text-align: center;

        font-style: italic;
        font-size: 35px;
        line-height: 45px;
        letter-spacing: -0.06em;
        text-transform: uppercase;
        
        color: #D59D40;
    }

    h3 {
        margin-left: 70px;
        text-align: center;

        font-size: 30px;
        font-style: normal;
        line-height: 39px;
        /* identical to box height */
        
        color: #464646;
    }

    h4 {
        margin-left: 70px;
        text-align: center;

        font-size: 9px;
        font-style: normal;
        line-height: 110.6%;
        /* identical to box height, or 10px */
        
        letter-spacing: -0.055em;
        text-transform: uppercase;
        
        color: #464646;
    }

    h5 {
        text-align: center;

        font-size: 18px;
        font-style: normal;
        line-height: 23px;
        
        color: #D59D40;
    }

    p {
        width: 269px;
        display: block;
        margin-left: auto;
        margin-right: auto;

        font-style: normal;
        font-size: 14px;
        line-height: 123.1%;
        /* or 17px */
        
        text-align: center;
        letter-spacing: 0.025em;
    }

    .description1 {
        margin-top: 7px;
        margin-bottom: 20px;
    }

    .description2 {
        margin-top: 6px;
        margin-bottom: 13px;
    }

    .about-bg {
        position: relative;
        margin-left: auto;
        margin-right: auto;
        margin-top: 26px;
        margin-bottom: 99px;
        width: 178px;
        height: 170px;
        background: #F0F0F0;
    }

    .about-item {
        position: absolute;
        top: 20px;
        left: -45px;
    }

    .about-bg2 {
        position: relative;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 67px;
        width: 178px;
        height: 179px;
        background: #F0F0F0;
    }
}