.faq {
    .faq-bg {
        width: 288px;
        margin-left: auto;
        margin-right: auto;
        padding-top: 404px;
        padding-bottom: 104.66px;

        background-image: linear-gradient(to right,
                    rgba(47, 48, 58, 0),
                    rgba(47, 48, 58, 0)),
                url(../images/FAQ/FAQ-mob.jpg);
        
            @media (min-device-pixel-ratio: 2),
            (-webkit-min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
                background-image: url(../images/FAQ/FAQ-mob@2x.jpg);
            }
        
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
    }

    h2 {
        margin-left: 99px;

        font-style: normal;
        font-size: 80px;
        line-height: 103px;
        letter-spacing: 0.01em;
        
        color: #D59D40;
    }

    h3 {
        margin-left: 128px;

        font-style: normal;
        font-size: 15px;
        line-height: 120.4%;
        /* identical to box height, or 18px */
        
        letter-spacing: -0.08em;
        text-transform: uppercase;
        
        color: #D59D40;
    }

    p {
        margin-left: 128px;
        margin-right: 11px;

        font-style: normal;
        font-size: 16px;
        line-height: 127.4%;
        /* or 20px */
        
        letter-spacing: 0.05em;
        
        color: #464646;
    }

    ul {
        width: 288px;
        margin-top: 0;
        margin-bottom: 46px;
        margin-left: auto;
        margin-right: auto;
        padding-top: 63px;
        padding-bottom: 53px;

        background: rgba(251, 245, 236, 1);
    }

    .mob-faq {
        @media screen and (max-width: 1600px) {
            display: none;
        }
    }
}