.feedback {
    margin-top: 28px;
    padding-bottom: 47px;

    &-bg {
        position: relative;
        width: 284px;
        height: 371px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 90px;
        background: #F0F0F0;
    }

    .line {
        position: absolute;
        top: -61px;
        width: 285px;
        margin-left: auto;
        margin-right: auto;

        padding-top: 46px;
        border-top: 1px solid #D59D40;
    }

    h2 {
        display: none;
    }

    .comments {
        @media screen and (max-width: 767px) {
                display: none;
            }
    }

    h3 {
        text-align: center;

        font-style: normal;
        font-size: 25px;
        line-height: 32px;
        letter-spacing: 0.055em;
    }

    h4 {
        text-align: center;
        margin-left: 20px;

        font-style: italic;
        font-weight: 400;
        font-size: 20px;
        line-height: 107.1%;
        /* or 21px */
        
        text-transform: lowercase;
    }

    .mob {
        width: 216px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 32px;
        margin-bottom: 59px;

        font-style: normal;
        font-size: 14px;
        line-height: 123.1%;
        /* or 17px */
        
        text-align: center;
        letter-spacing: 0.025em;
    }

    .button-mob {
        @media screen and (min-width: 1600px) {
                display: none;
            }
    }

    .desktop {
        @media screen and (max-width: 1600px) {
            display: none;
        }
    }
} 