.feedback {
    @media screen and (max-width: 767px) {
        margin-top: 28px;
        padding-bottom: 47px;
    }

    @media screen and (min-width: 768px) {
        margin-top: 45px;
        
    }

    &-bg {
        @media screen and (max-width: 767px) {
            position: relative;
            width: 284px;
            height: 371px;
            margin-left: auto;
            margin-right: auto;
            margin-top: 90px;
            background: #F0F0F0;
        }
    }

    .line {
        margin-left: auto;
        margin-right: auto;

        @media screen and (max-width: 767px) {
            position: absolute;
            top: -61px;
            width: 285px;
            
            padding-top: 46px;
            border-top: 1px solid #D59D40;
        }

        @media screen and (min-width: 768px) {
            width: 594px;
            padding-top: 16px;
            
            border-top: 2px solid #D59D40;
        }
    }

    h2 {
        display: none;
    }

    .comments {
        @media screen and (max-width: 767px) {
                display: none;
            }
    }

    .feedback-h3 {
        text-align: center;

        @media screen and (max-width: 767px) {
            font-size: 25px;
            line-height: 32px;
            letter-spacing: 0.055em;
        }

        @media screen and (min-width: 768px) {
            font-style: italic;
            font-size: 41px;
            line-height: 53px;
            /* identical to box height */
            
            letter-spacing: -0.025em;
        }
    }

    .comments-h3 {
        @media screen and (min-width: 768px) {
            text-align: center;

            line-height: 39px;
            font-size: 30px;
            /* identical to box height */
            
            letter-spacing: 0.06em;
            text-transform: uppercase;
            
            color: #D59D40;
        }
    }

    h4 {
        text-align: center;
        margin-left: 20px;

        font-style: italic;
        line-height: 107.1%;
        
        text-transform: lowercase;

        @media screen and (max-width: 767px) {
            font-size: 20px;
            /* or 21px */
        }

        @media screen and (min-width: 768px) {
            font-size: 25px;
            /* identical to box height, or 27px */
        }
    }

    .mob {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 32px;
        margin-bottom: 59px;

        font-style: normal;
        font-size: 14px;
        line-height: 123.1%;
        /* or 17px */
        
        text-align: center;
        letter-spacing: 0.025em;

        @media screen and (max-width: 767px) {
            width: 216px;
        }

        @media screen and (min-width: 768px) {
            width: 600px;
        }
    }

    .comments-p {
        width: 410px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 34px;

        font-size: 22px;
        line-height: 113.6%;
        /* or 25px */
    }

    .comments-hidden {
        @media screen and (max-width: 1200px) {
            display: none;
        }
    }

    .button-mob {
        @media screen and (min-width: 768px) {
                display: none;
            }
    }

    .desktop {
        @media screen and (max-width: 1600px) {
            display: none;
        }
    }
} 