.wedding {
    margin-top: 80px;
    
    h2 {
        color: #464646;

        @media screen and (max-width: 767px) {
            text-align: center;
            
            font-size: 43px;
            line-height: 56px;
            /* identical to box height */
            
            letter-spacing: -0.08em;
        }

        @media screen and (min-width: 768px) {
            width: 476px;
            display: block;
            margin-left: auto;
            margin-right: auto;
            padding-top: 50px;

            font-size: 80px;
            line-height: 103px;
            text-align: right;
        }
    }

    h3 {
        text-align: center;
        
        
        color: #D59D40;

        @media screen and (max-width: 767px) {
            margin-right: 100px;
            
            font-size: 12px;
            line-height: 120.4%;
            /* or 14px */
            
            text-transform: uppercase;
        }

        @media screen and (min-width: 768px) {
            margin-top: -16px;

            font-size: 25px;
            line-height: 32px;
            letter-spacing: 0.055em;
        }
    }

    p {
        @media screen and (max-width: 767px) {
            display: none;
        }

        @media screen and (min-width: 768px) {
            width: 645px;
            display: block;
            margin-left: auto;
            margin-right: auto;
            margin-top: 7px;
            margin-bottom: 13px;

            font-style: italic;
            font-size: 24px;
            line-height: 111.6%;
            /* or 27px */
        }
    }

    .gallary-mob {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        margin-top: 29px;
        margin-bottom: 105px;

        @media screen and (min-width: 768px) {
            display: none;
        }
    }

    .gallary-tab {
        display: none;

        @media screen and (min-width: 768px) and (max-width: 1199px) {
            position: relative;
            display: flex;
            justify-content: center;

            margin-bottom: 80px;
        }
    }

    .gallary-button {
        position: absolute;
        bottom: -8%;
    }

    .examples {
        @media screen and (max-width: 1199px) {
            display: none;
        }
    }
}